<div class="header">
    <ul class="header-tabs">
        <li class="active">Books</li>
        <li>Borrowers</li>
        <li>Loans</li>
        <li>Inventory</li>
        <li>Reports</li>
    </ul>
</div>